<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Blog</title>

    <link href="components/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body { padding-top: 50px; }
    </style>

  </head>
  <body>
    <script type="text/x-handlebars">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Blog</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>{{#link-to 'posts.index'}}Posts{{/link-to}}</li>
              {{#if currentUser.userId }}
              {{else}}
                <li>{{#link-to 'register'}}Register{{/link-to}}</li>
              {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {{#if currentUser.userId }}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.name}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>{{#link-to 'account'}}Conta{{/link-to}}</li>
                  <li>{{#link-to 'logout'}}Logout{{/link-to}}</li>
                </ul>
              </li>
              {{else}}
              <li>{{#link-to 'login'}}Login{{/link-to}}</li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>

      {{outlet}}
    </script>

    <script type="text/x-handlebars" id="index">
      <div class="container">
        {{#if successMessage }}
          <div class="alert alert-success">{{successMessage}}</div>
        {{/if}}
        {{#if errorMessage }}
          <div class="alert alert-danger">{{errorMessage}}</div>
        {{/if}}
      </div>
    </script>
    <script type="text/x-handlebars" id="login">
      <div class="container">
        {{#if currentUser.userId}}
          <p>You are already logged in!</p>
        {{else}}
          <form class="form-inline" {{action login on="submit"}}>
            <h2>Log In</h2>
            {{input value=email type="text" placeholder="Email"}}
            {{input value=password type="password" placeholder="Password"}}
            {{input class="btn" type="submit" value="Log In"}}
          </form>
          {{#if errorMessage}}
            <div class="alert alert-danger">{{errorMessage}}</div>
          {{/if}}
        {{/if}}
      </div>
    </script>

    <script type="text/x-handlebars" id="posts">
      <div class="container">
        {{#if App.successMessage }}
          <div class="alert alert-success">{{App.successMessage}}</div>
        {{/if}}
        {{#if App.errorMessage}}
          <div class="alert alert-danger">{{App.errorMessage}}</div>
        {{/if}}

        <div class="row">
          <div class="span3">
            <table class='table'>
              <thead>
                <tr><th>Recent Posts</th></tr>
              </thead>
              {{#each model}}
              <tr><td>
                  {{#link-to 'post' _id}}{{title}} <small class='muted'>by {{user}}</small>{{/link-to}}
                  <button class="btn btn-sm" {{action 'remove' this}}>Remove</button>
              </td></tr>
              {{/each}}
            </table>
          </div>
          <div class="span9">
            {{outlet}}
          </div>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" id="posts/index">
      {{#link-to 'posts.new'}}Publicar novo post{{/link-to}}
    </script>

    <script type="text/x-handlebars" id="posts/new">
      {{partial 'post/form'}}
      <button {{action 'done'}}>Done</button>
    </script>

    <script type="text/x-handlebars" id="post">
      {{#if isEditing}}
        {{partial 'post/form'}}
        <button {{action 'done'}}>Done</button>
      {{else}}
        <button {{action 'edit'}}>Edit</button>
      {{/if}}

      <h1>{{title}}</h1>
      <h2>by {{user}} <small class="muted">({{format-date created}})</small></h2>

      <hr>

      <div class="post">
        {{format-markdown body}}
      </div>
    </script>

    <script type="text/x-handlebars" id="post/_form">
      <p>{{input type="text" value=title}}</p>
      <p>{{input type="text" value=tags}}(separado por vírgula)</p>
      <p>{{textarea value=body}}</p>
    </script>

    <script type="text/x-handlebars" id="register">
      <div class="container">
        {{#if currentUser.userId}}
          <p>You are already logged in!</p>
        {{else}}
          <form class="form-inline" {{action register on="submit"}}>
            <h2>Register</h2>
            {{input value=name type="text" placeholder="Name"}}
            {{input value=email type="text" placeholder="Email"}}
            {{input value=password type="password" placeholder="Password"}}
            {{input class="btn" type="submit" value="Submit"}}
          </form>
          {{#if errorMessage}}
            <div class="alert alert-danger">{{errorMessage}}</div>
          {{/if}}
        {{/if}}
      </div>
    </script>

    <script type="text/x-handlebars" id="account">
      <div class="container">
        {{#if currentUser.userId}}
          <form class="form-inline" {{action register on="submit"}}>
            <h2>Conta</h2>
            {{input value=currentUser.name type="text" disabled="true"}}
            {{input value=currentUser.email type="text" disabled="true"}}
            {{input value=password type="password" placeholder="New password"}}
            {{input class="btn" type="submit" value="Submit"}}
          </form>
          {{#if errorMessage}}
            <div class="alert alert-danger">{{errorMessage}}</div>
          {{/if}}
        {{else}}
          <p>You are not logged in!</p>
        {{/if}}
      </div>
    </script>

    <script src="components/jquery/jquery.min.js"></script>
    <script src="components/bootstrap/js/bootstrap.min.js"></script>
    <script src="components/handlebars/handlebars.js"></script>
    <script src="components/ember/ember.js"></script>
    <script src="components/ember-data-shim/ember-data.js"></script>

    <script src="components/showdown/showdown.js"></script>
    <script src="components/moment/moment.min.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/auth.js"></script>
    <script src="scripts/users.js"></script>
    <script src="scripts/posts.js"></script>
  </body>
</html>
